* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: linear-gradient(135deg, #6b84d6, #0031d1);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  width: 350px;
  background: white;
  border-radius: 20px;
  padding: 25px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  animation: fadeIn 0.8s ease;
}

header h1 {
  margin-bottom: 5px;
}

header p {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}

.card {
  position: relative;
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  opacity: 0;
  transition: opacity 0.5s ease;
}

img.show {
  opacity: 1;
}

/* Loader (spinner) */
.loader {
  border: 5px solid #eee;
  border-top: 5px solid #2090c4;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: #6d0188;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #753ff3;
  transform: scale(1.03);
}

/* Animações */
@keyframes spin {
  0% { transform: translate(-50%, -50%) rotate(0deg); }
  100% { transform: translate(-50%, -50%) rotate(360deg); }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}